.terraform/providers/registry.terraform.io/hashicorp/oci/5.39.0/windows_amd64/CHANGELOG.md
.terraform/providers/registry.terraform.io/hashicorp/oci/5.39.0/windows_amd64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/oci/5.39.0/windows_amd64/README.md
.terraform/providers/registry.terraform.io/hashicorp/oci/5.39.0/windows_amd64/terraform-provider-oci_v5.39.0.exe
